body {
  background-color: #fbfbfb;
}
.header {
  top: 0;
  background-color: #10a5a9;
  height: 80px;
  margin-bottom: 30px;
}
.header .container ul {
  margin: 30px auto;
}
.header .container ul li {
  width: 25%;
  float: left;
  list-style-type: none;
}
.header .container ul li a {
  width: 100%;
  float: left;
  margin: 0px auto;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #fbfbfb;
}
.header .container ul li a:hover {
  font-size: 24px;
  color: #f0797b;
}
.footer {
  bottom: 0;
  background-color: #10a5a9;
  height: 70px;
  margin-top: 30px;
}
.footer .container {
  text-align: center;
  padding-top: 15px;
}
.footer a {
  text-decoration: none;
  color: #fbfbfb;
}
.footer a:hover {
  font-size: 18px;
  color: #f0797b;
}
.post {
  margin: 20px 0px;
}
.post .post-border {
  border-left: 1px solid #898a8c;
  height: 128px ;
  margin-left: 0px;
}
.post .post-border .post-self {
  margin-left: 50px;
}
.post .post-border .post-self h2 {
  font-family: arial;
  font-size: 26px;
  font-weight: normal;
  color: #10a5a9;
}
.post .post-border .post-self a {
  text-decoration: none;
  color: #f0797b;
}
.date-badge {
  width: 68px;
  height: 68px;
  border-radius: 90px;
  background-color: #76c1b1;
  margin: 30px auto;
  position: relative;
  box-shadow: -1px 5px 15px rgba(51, 50, 50, 0.91);
}
.date-badge .date-badge-d {
  position: absolute;
  font-family: american typewriter;
  font-weight: bold;
  font-size: 27px;
  color: #fbfbfb;
  top: 14px;
  left: 16px;
}
.date-badge .date-badge-m {
  position: absolute;
  font-family: arial;
  font-weight: normal;
  font-size: 17px;
  color: #fbfbfb;
  top: 38px;
  left: 19px;
}
.gafa {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-image: url("../images/gafa-iconsuz.png");
}
.gafa a {
  position: absolute;
  border-radius: 90px;
}
.gafa .twitter {
  top: 183px;
  left: 16px;
  width: 65px;
  height: 65px;
  background-image: url("../images/bt_icons/twitter.png");
  background-repeat: no-repeat;
}
.gafa .facebook {
  top: 291px;
  left: 406px;
  width: 80px;
  height: 80px;
  background-image: url("../images/bt_icons/facebook.png");
  background-repeat: no-repeat;
}
.gafa .foursquare {
  top: 346px;
  left: 65px;
  width: 49px;
  height: 49px;
  background-image: url("../images/bt_icons/foursquare.png");
  background-repeat: no-repeat;
}
.gafa .instagram {
  top: 31px;
  left: 282px;
  width: 60px;
  height: 60px;
  background-image: url("../images/bt_icons/instagram.png");
  background-repeat: no-repeat;
}
.gafa .linkedin {
  top: 131px;
  left: 394px;
  width: 52px;
  height: 52px;
  background-image: url("../images/bt_icons/linkedin.png");
  background-repeat: no-repeat;
}
.gafa .pinterest {
  top: 80px;
  left: 116px;
  width: 46px;
  height: 46px;
  background-image: url("../images/bt_icons/pinterest.png");
  background-repeat: no-repeat;
}
.gafa .googleplus {
  top: 419px;
  left: 177px;
  width: 40px;
  height: 40px;
  background-image: url("../images/bt_icons/googleplus.png");
  background-repeat: no-repeat;
}
.gafa .youtube {
  top: 406px;
  left: 306px;
  width: 63px;
  height: 63px;
  background-image: url("../images/bt_icons/youtube.png");
  background-repeat: no-repeat;
}
.gallery {
  list-style: none;
}
.gallery li {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 5px;
}
